
{
	#order anubis after encode
	#order redir after anubis
}

:18888 {
		request_header +X-Real-IP {remote_host}
		request_header +X-Forwarded-For {remote_host}

		anubis
		
		handle / {
			try_files {path} /index.html
			file_server {
				root web/
				browse
			}
		}
}
